
@use '../helpers' as *;


// 레이아웃 공통

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul, ol, li {
    list-style: none;
}


input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"] {
    @include mx-input_clear_style();
    outline-style: none;

    &::placeholder {
        opacity: 0.8;
    }
}

input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-cancel-button {
        display: none
    }
}

button,
input[type="submit"],
input[type="button"] {
    @include mx-input_clear_style();
    // @include mx-input_basic_style();
    cursor: pointer;
}

textarea{
    resize: none;
    outline: none;
    @include mx-input_clear_style();
}

select{
    appearance: none;
}

table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%;}
// //레이아웃 공통